.ButtonContainer {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Button {
  height: 55px;
  width: 125px;
  font-size: 30px;
  font-family: "Architects Daughter", cursive;
  font-weight: 700;
  background-color: transparent;
  border: solid 4px;
  border-radius: 15px;
  border-color: black;
  cursor: pointer;
}
